@import "header.scss";
@import "headline.scss";
@import "order.scss";
@import "footer.scss";
@import "audience.scss";

body {
  margin: 0px;
  padding: 0px;
}
.page {
  margin: 0px auto;
  box-sizing: border-box;
  @include for-medium {
    max-width: 1399px;
  }
  @include for-small {
    max-width: 320px;
  }
}
